html {
  font-size: 100%; /* 16px par défaut */
  /* font-family: "DM Sans", sans-serif; */
}

body {
  font-size: 0.75em; /* 12px */
  /* margin-top: 2em; */
  max-width: 1320px;
  margin: 0 auto;
}

h1 {
  font-size: 2em; /* 24px */
}
a {
  text-decoration: none;
}

.displaynone {
  display: none;
}
header.container {
  text-align: center;
}
.logo {
  width: 22.33em;
  margin: 2em 0;
}
.input-group {
  display: flex;
}
input.searchBar {
  width: 100%;
  border: none;
  background-color: #e7e7e7;
  height: 69px;
  padding: 1em;
  border-radius: 5px 0 0 5px;
}
.fas.fa-search {
  font-size: 32px;
  background-color: #e7e7e7;
  height: 69px;
  display: flex;
  align-items: center;
  padding-right: 0.5em;
}
main {
  margin-top: 2em;
}
.tags {
  margin-bottom: 2em;
  display: flex;
}
.tags-filter {
  color: #fff;
  border: none;
  min-width: 107px;
  height: 37px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
}
.ingredients-tag {
  background-color: #3282f7;
}
.device-tag {
  margin-left: 20px;
  background-color: #68d9a4;
}
.utensils-tag {
  background-color: #ed6454;
  margin-left: 20px;
}
i.far.fa-times-circle {
  font-size: 19px;
  margin-left: 0.5em;
}
.btn-search {
  display: flex;
  flex-direction: row;
}
.btnFilter {
  border: none;
  color: #fff;
  font-size: 18px;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#ingredients {
  background-color: #3282f7;
  position: relative;
}
#appareil {
  margin: 0 20px;
  background-color: #68d9a4;
  position: relative;
}
#ustensiles {
  background-color: #ed6454;
  position: relative;
}
.infoSearch {
  background-color: #cce5ff;
  color: #0f4084;
  padding: 20px 10px;
  text-align: center;
  font-size: 1.6em;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  width: 380px;
  height: 360px;
  background: #e7e7e7;
  margin-top: 5em;
  border-radius: 5px;
  overflow: hidden;
}
.card__image {
  height: 178px;
  background: #c7bebe;
}
.card__content {
  max-width: 355px;
  margin: 0 auto;
}
.card__content__header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.card__content__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 12px;
}
.ingredients p {
  margin: 0;
}
.recipe {
  max-width: 171px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.width-btn {
  width: 667px;
}
.taglist-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  border-radius: 5px;
  padding-bottom: 1em;
  overflow: hidden;
}
.taglist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.taglist p {
  width: 30%;
}
#tag-ingredients {
  background-color: #3282f7;
}
#tag-appareil {
  background-color: #68d9a4;
}
#tag-ustensiles {
  background-color: #ed6454;
}
.displaynone {
  display: none;
}
.searchBar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inputSearch {
  border: none;
  height: 3em;
  color: #fff;
  flex-grow: 1;
  padding-left: 9%;
  margin-top: 0.5em;
}
#bg-i {
  background-color: #3282f7;
}
#bg-d {
  background-color: #68d9a4;
}
#bg-u {
  background-color: #ed6454;
}

i.fas.fa-chevron-up {
  margin-right: 4%;
}

.inputSearch::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.5);
  font-size: 16.6px;
}
.inputSearch::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}
.inputSearch:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.5);
}
.inputSearch:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5);
}
.inputSearch:focus {
  outline: none;
}
